#####################################################################
#   Menu preheat ABS
#####################################################################
[menu __main __temp __preheat_abs]
type: list
name: {printer["gcode_macro _BRDS_LANG"].menu_preheat} ABS

#-------------------------------------------------------------------#
[menu __main __temp __preheat_abs __all]
type: command
enable: {('extruder' in printer) and ('heater_bed' in printer)}
name: {printer["gcode_macro _BRDS_LANG"].menu_preheat_all}
gcode:
    _SET_HOTBED_HOTEND_TEMP TEMP_BED={printer["gcode_macro _Preheat_Variables"].hot_bed_temp_abs} TEMP_END={printer["gcode_macro _Preheat_Variables"].hot_end_temp_abs}

#-------------------------------------------------------------------#
[menu __main __temp __preheat_abs __hotend]
type: command
enable: {'extruder' in printer}
name: {printer["gcode_macro _BRDS_LANG"].menu_preheat_hot_end}
gcode: 
    _SET_HOTEND_TEMP TEMP={printer["gcode_macro _Preheat_Variables"].hot_end_temp_abs}

#-------------------------------------------------------------------#
[menu __main __temp __preheat_abs __hotbed]
type: command
enable: {'heater_bed' in printer}
name: {printer["gcode_macro _BRDS_LANG"].menu_preheat_hot_bed}
gcode:
    _SET_HOTBED_TEMP TEMP={printer["gcode_macro _Preheat_Variables"].hot_bed_temp_abs}

#####################################################################