#####################################################################
#	Calibration
#####################################################################
[menu __main __voronbrds __calibration]
type: list
name: {printer["gcode_macro _BRDS_LANG"].menu_cal_name}

#####################################################################
# Heaters
[include Heaters.cfg]

# Input-shaping
[include Input-shaping.cfg]

# Pressure-advance
[include Pressure-advance.cfg]

# Z-offset
[include Z-offset.cfg]

#####################################################################