#####################################################################
#   CanBus - Extruder CW2
#####################################################################
# Global Config
[include ../../../CommonSystems/Exruders/CW2.cfg]

#####################################################################
#   Pins
[include ./CommonExtruders.cfg]

#####################################################################