#####################################################################
#	FANS - Common - Exhaust
#####################################################################
#[heater_fan exhaust_fan]
[fan_generic exhaust_fan]
#  Exhaust fan - In E2 OUT Positon
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
cycle_time: 0.0005     #2 kHz PWM signal
hardware_pwm: False
kick_start_time: 0

#--------------------------------------------------------------------
#	Redefined macros
#--------------------------------------------------------------------
[gcode_macro FAN_EXHAUST_ON]
description: Turn on exhaust
gcode: 
    SET_FAN_SPEED FAN=exhaust_fan SPEED=0.9

#--------------------------------------------------------------------
[gcode_macro FAN_EXHAUST_OFF]
description: Turn off exhaust
gcode: 
    SET_FAN_SPEED FAN=exhaust_fan SPEED=0

#--------------------------------------------------------------------
[delayed_gcode _DELAY_FAN_EXHAUST_OFF]
gcode:
    FAN_EXHAUST_OFF

#--------------------------------------------------------------------
[gcode_macro _FAN_EXHAUST_PRINT_FINISHED]
gcode:
    FAN_EXHAUST_ON
    UPDATE_DELAYED_GCODE ID=_DELAY_FAN_EXHAUST_OFF DURATION={printer["gcode_macro _BRDS_CONFIGS_CONSTANTS"].fans_exhaust_shutdown_delay_s} # Shutdown exhaust after x seconds
    
#--------------------------------------------------------------------
#   Other macro to setup later
#--------------------------------------------------------------------
#[gcode_macro M141]
#description: Set temperature of chamber fan
#gcode: SET_TEMPERATURE_FAN_TARGET temperature_fan=exhaust_fan target={params.S|default(0)}

##  Chamber Ventilation Control in Mainsail
#[gcode_macro VENT]
#description: Toggle Chamber fan
#gcode:
#    {% if printer['fan_generic exhaust_fan'].target|float > 0 and 
#          printer['fan_generic exhaust_fan'].target|float <= printer['gcode_macro _USER_VARIABLE'].peripheral.exhaust_fan.on_val|float %}
#        M141
#    {% else %}
#        M141 S{printer['gcode_macro _USER_VARIABLE'].peripheral.exhaust_fan.on_val}
#    {% endif %}
#    _VENT_INFO
#
#[delayed_gcode _DELAY_VENT_OFF]
#gcode:
#  {% if printer.print_stats.state|lower != "paused" and printer.print_stats.state|lower != "printing" %}
#    M141
#    _VENT_INFO
#  {% endif %}
#
#[gcode_macro _VENT_INFO]
#description: Helper: Print chamber fan temperature
#gcode:
#  {% set txt = "off" if printer['fan_generic exhaust_fan'].target == 0 
#          else "target temp: %2dC" % printer['fan_generic exhaust_fan'].target %}
#  {action_respond_info("exhaust_fan fan %s" % txt)}
   
#####################################################################