#####################################################################
#	Filament sensor
#####################################################################
# Global Config
[include ../../../../CommonSystems/OtherHardware/FilementRunnoutSensor/default_basic.cfg]

#####################################################################
[filament_switch_sensor RunoutSensor]
switch_pin: !PG12 # Octopus V1.0

#####################################################################